body {
    background-color: lightblue;
    font-family: Lato,Helvetica,sans-serif;
    color: black;
}
.my-profile {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 20px;
}

#table1 {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}

th, td, tr {
    padding: 15px;
    border: 1px solid black;
}

.clearfix {
    overflow: auto;
}

.img1 {
    float: left;
    padding-right: 50px;
    width: 350px;
    height: 250px;
}

@media (min-width: 320px) and (max-width: 1990px){
.col {
    flex: 1;
    padding: 1em;
    font-size: 5px !important;
    }

    .mobile-historical-places .row3{
        display: flex; 
        font-size: 15px !important;
    }
    .mobile-historical-places .col {
        flex: 1;
        padding: 1em;
    }
}

@media only screen and (min-width: 60em){
    .container {
        width: 90%;
        max-width: fit-content;
    }
}
.laptop-historical-places{
    display: block;
    width: initial;
}
.mobile-historical-places{display: none;}

@media screen and (max-width: 768px){
    .laptop-historical-places{display: none;}
    .mobile-historical-places{display: block;}
}

@media (max-width: 768px){
    .my-profile {
        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding-top: 20px;
        margin-bottom: 2rem;
    }
}