.historical-wrapper {
    position: absolute;
    top: 110%;
    text-align: center;
    margin: 2%;
}
#historical-big-screen{
    display: flex;
    position: absolute;
    top: 118%;
    width: 100%;
}
#historical-small-screen{
    display: none;
}
#historical-small-screen1{
    display: none;
}
#historical-small-screen2{
    display: none;
}

.img3 {
    float: right;
    padding-left: 20px;
}


body {
    background-color: lightblue;
    font-family: Lato,Helvetica,sans-serif;
    color: black;
}

.container {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: fit-content;
}

.clearfix {
    overflow: auto;
    margin: 2%;
}

.img1 {
    float: left;
    padding-right: 20px;
}

.tables {
    position: absolute;
    width: 96%;
    text-align: center;
    margin: 2%;
}

#table1 {
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}

th, td, tr {
  padding: 15px;
  border: 1px solid black;
}

.img2, .img4 {
    float: right;
    padding-left: 20px;
}
.history-row{
    width: 100%;
}

@media (max-width: 768px) {
    #historical-big-screen{
        display: none;
    }
    .historical-wrapper {
        position: absolute;
        top: 130%;
        text-align: center;
        margin: 2%;
    }
    #historical-small-screen{
        position: absolute;
        display: flex;
        top: 139%;
        width: 100%;
    }
    #historical-small-screen1{
        position: absolute;
        display: flex;
        top: 167%;
        width: 100%;
    }
    #historical-small-screen2{
        position: absolute;
        display: flex;
        top: 192%;
        width: 100%;
    }
}

@media (max-width: 541px) {
    .historical-wrapper {
        position: absolute;
        top: 129%;
        text-align: center;
        margin: 2%;
    }
    #historical-small-screen{
        position: absolute;
        display: flex;
        top: 140%;
        width: 100%;
    }
    #historical-small-screen1{
        position: absolute;
        display: flex;
        top: 169%;
        width: 100%;
    }
    #historical-small-screen2{
        position: absolute;
        display: flex;
        top: 198%;
        width: 100%;
    }
}
@media (max-width: 445px) {
    .historical-wrapper {
        position: absolute;
        top: 132%;
        text-align: center;
        margin: 2%;
    }
    #historical-small-screen{
        position: absolute;
        display: flex;
        top: 140%;
        width: 100%;
    }
    #historical-small-screen1{
        position: absolute;
        display: flex;
        top: 170%;
        width: 100%;
    }
    #historical-small-screen2{
        position: absolute;
        display: flex;
        top: 200%;
        width: 100%;
    }
}
@media (max-width: 408px) {
    #historical-small-screen{
        position: absolute;
        display: flex;
        top: 150%;
        width: 100%;
    }
    #historical-small-screen1{
        position: absolute;
        display: flex;
        top: 184%;
        width: 100%;
    }
    #historical-small-screen2{
        position: absolute;
        display: flex;
        top: 226%;
        width: 100%;
    }
    .historical-wrapper {
        position: absolute;
        top: 137%;
        text-align: center;
        margin: 2%;
    }
}

@media (max-width: 369px) {
    .historical-wrapper {
        position: absolute;
        top: 146%;
        text-align: center;
        margin: 2%;
    }
    #historical-small-screen{
        position: absolute;
        display: flex;
        top: 158%;
        width: 100%;
    }
    #historical-small-screen1{
        position: absolute;
        display: flex;
        top: 193%;
        width: 100%;
    }
    #historical-small-screen2{
        position: absolute;
        display: flex;
        top: 235%;
        width: 100%;
    }
}

@media (max-width: 332px) {
    .historical-wrapper {
        position: absolute;
        top: 152%;
        text-align: center;
        margin: 2%;
    }
    #historical-small-screen{
        position: absolute;
        display: flex;
        top: 162%;
        width: 100%;
    }
    #historical-small-screen1{
        position: absolute;
        display: flex;
        top: 210%;
        width: 100%;
    }
    #historical-small-screen2{
        position: absolute;
        display: flex;
        top: 257%;
        width: 100%;
    }
}
