* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: lightblue;
    font-family: Lato,Helvetica,sans-serif;
    color: black;
}
.my-profile {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 20px;
}
.image-box {
    overflow: hidden;
    position: relative;
    object-fit: fill;
    width: 350px;
    height: 350px;
}
.image-box-city {
    width: 350px;
    height: 250px;
    overflow: hidden;
    position: relative;
    object-fit: fill;
}
.which-city{
   width: 80%; 
   overflow: auto;
   margin: 2% auto;
}
.tables {
    width: 80%;
    margin-left: 10%;
}

#table1 {
    border-collapse: collapse;
    text-align: center;
    width: 80%;
}

th, td, tr {
  padding: 15px;
  border: 1px solid black;
}
#historical-big-screen{
    display: flex;
    position: absolute;
    margin-left: 10%;
    width: initial;
}
.clearfix {
    overflow: auto;
    margin-top: 2%;
    margin-right: 2%;
}
#historical-small-screen{
    display: none;
}
#historical-small-screen1{
    display: none;
}
#historical-small-screen2{
    display: none;
}
h4{
    display: none;
}
.history-row{
    width: 100%;
}

@media (max-width: 768px) {
    #historical-big-screen{
        display: none;
    }
    h4{
        display: block;
    }
    #historical-small-screen{
        display: flex;
        width: 80%;
        margin-left:10%;
        margin-bottom: 5%;
    }
    #historical-small-screen1{
        display: flex;
        width: 80%;
        margin-left:10%;
        margin-bottom: 5%;
    }
    #historical-small-screen2{
        display: flex;
        width: 80%;
        margin-left:10%;
        margin-bottom: 5%;
    }
    h4{
        margin-left: 10%;
    }
}
@media (max-width: 768px){
    .my-profile {
        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding-top: 20px;
        margin-bottom: 2rem;
    }
    .image-box {
        width: 250px;
        height: 250px;
        overflow: hidden;
        position: relative;
        object-fit: fill;
    }
}